body {
    font-family: 'Poppins', sans-serif;
    /* background-image: url(img/my-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    background-position: right; */
    margin: 0px;

}

.name-color {
    color: peru;
}


h1 {
    font-size: 30px;
}


.linked-button {
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #534120;
    cursor: pointer;

}

.half-width {
    width: 50%;
    padding-left: 5px;
}


.img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 180px;
    margin-bottom: 25px;
    /* padding-left: 100px; */
}

.imgg {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-right: 300px;
}

.display-section {
    display: flex;

}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.blog {
    width: 50%;
    box-shadow: 5px 5px 25px gray;
    padding: 10px;
    border-radius: 5px;
    /* margin: 0px 60px 0px 60px; */
}

.developer {
    display: flex;
    /* padding: 5px 2.5px 5px 2.5px; */
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
}

.full-stack-web {
    margin: 0px 30px 0px 60px;
    border-left: 5px orange solid;
}

.baby-web {
    margin: 0px 60px 0px 30px;
    border-left: 5px blue solid;

}

footer {
    text-align: center;
}